@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap');
@import url("contact.css");
@import url("forms.css");
@import url("loginRegister.css");
@import url("nav.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* paddinf must by reset */
p,ul,a{
    margin: 0;
}

:root {
    --myBlack: #1A1A1D;
    --myRed: #C3073F;
  }

/* 
COLORS:
black #1A1A1D
gray #4E4E50
red{
    #6F2232
    #650749
    #C3073F
}
*/


svg{
    fill: #fff;
    width: 40px;
}

body{
    background-color: var(--myBlack);
}

/* Error page */

.errorPage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin-right: 20px;
    height: 100vh;
}

.errorPage h3{
    color: #ffffff;
    font-weight: 700;
}

/* message */

.message{
    position: fixed;
    bottom: 10px;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    background-color: #fff;
    z-index: 100000;
    -webkit-box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.81);
    -moz-box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.81);
    box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.81);
}

.message p{
    color: #000;
    padding: 10px;
}

.message p.red{
    color: #f00;
}

.message p.green{
    color: #0f0;
}

/* HOME */

section.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--myRed);
    clip-path: circle(100% at right -70%);
}


.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;

}

.content .textBox h2{
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p{
    color: #ffffff;
}

.content .textBox a{
   display: inline-block;;
   margin-top: 20px;
   padding: 8px 20px;
   background: var(--myRed);
   color: #ffffff;
   border-radius: 40px;
   font-weight: 500;
   letter-spacing: 1px;
   text-decoration: none;
}

.topMusic{
    width: 300px;
    height: 300px;
    /* z-index: 110; */
    margin: 20px;
    border: none;
}

.sci{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style-type: none;
}

.sci li a{
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s ease-in-out;
    background: #222;
}

.sci li a:hover{
    background: var(--myRed);
    transform: translateY(-10px);
}

.sci li a.fb:hover{
    background: #3b5998;
}

.sci li a.sc:hover{
    background: #ff7700;
}

.sci li a.yt:hover{
    background: #c4302b;
}


.sci li a img{
    width: 50px;
    height: 50px;
    /*filter: invert(1);*/
    transform: scale(0.5);
}

@media(max-width: 991px){
    header{
        padding: 40px;
    }

    section{
        padding: 150px 40px;
    }

    .sci{
        left: 40px;
    }

    .content{
        flex-direction: column;
    }

    .content .textBox{
        max-width: 100%;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #650749;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toggle{
        position: fixed;
        right: 50px;
        width: 50px;
        height: 50px;
        background: url(../img/menu.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 120;
    }

    .toggle.active{
        position: fixed;
        right: 40px;
        background: url(../img/close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    header .navigation li a{
        margin: 10px 0px;
        font-size: 1.5em;
        font-weight: 300;
    }

    .topMusic{
        margin-top: 50px;
        width: 400px;
        height: 400px;
    }

}

/* Music */

.songs{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 150px 150px;
    flex-direction: column;
}

/* first box */
.song{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--myBlack);
    -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
}

.song .song-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #fff
}

.song .song-data .song-name p:first-child{
    padding: 10px 20px;
    transform: scale(1.3);
}

.song .song-data .song-name p:first-child:hover svg{
    fill: var(--myRed);
    cursor: pointer;
}   

.song .song-data .song-name p{
    display: inline-block;
    font-size: 24px;
}

/* middle box */

.song .song-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.song .song-main .left,
.song .song-main .right{
    width: 50%;
    height: 100%;
}

.song .song-main .left{
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.song .song-main .left .track-image{
    width: 100%;
    height: 100%;
	border-radius: 15px;
    object-fit: cover;
}

.song .song-main .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="range"]:hover{
    cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	height: 2px; 
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: var(--myRed);
	border-radius: 50%;
	cursor: pointer;
}

/* .right input[type=range]{
	width: 40%;
} */


/* Buttons and time */
.song .song-main .right .song-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
}

.song .song-main .right .song-actions .time{
    width: 100%; 
    padding: 20px;
}

.song .song-main .right .song-actions .time p{
    display: inline-block;
    color: #fff;
}

.song .song-main .right .song-actions .middle{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    width: 100%;;
    height: 80%;
    padding: 20px 40px;
}

.song .song-main .right .song-actions .middle button{
    border: 0;
    background: #53535313;
    width: 80px;
    outline: none;
    height: 80px;
    border-radius: 50%;
}

.song .song-main .right .song-actions .middle button:hover{
    cursor: pointer;
}

.song .song-main .right .song-actions .middle button:hover i{
    color: var(--myRed);

}

.song .song-main .right .song-actions .middle button i{
    transform: translateX(10%) translateY(10%);
    font-size: 24px;
    color: #fff;
}

/* Sounds  */
.song .song-main .right .volume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10%;
    padding: 10px;
    color: #fff;
}

.song .song-main .right .volume input[type="range"]{
    transform: rotate(270deg);
    width: 300px; 
    /* overflow: hidden; */
}

.song .song-main .right .volume input[type="range"]::-webkit-slider-thumb{
    border-radius: 0;
    height: 10px;
}


.song .song-main .right .volume i{
    font-size: 20px;
}

.song .song-main .right .volume i:hover{
    cursor: pointer;
    color: var(--myRed);

}

/* bottom box */

.song .duraction{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
}

.song .duraction p:first-child{
    margin-right: 20px;
}

.song .duraction p:last-child{
    margin-left: 20px;
}

.song .duraction input[type="range"]{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

/* List music */

.songs .listMusic{
    color: #fff;
}

.songs .listMusic .music
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    text-align: center;
    background: rgba(26,26,29,1);
    -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
    padding: 10px 20px;
    
}

.songs .listMusic .music:hover{
    background: linear-gradient(90deg, rgba(195,7,63,1) 0%, rgba(26,26,29,1) 75%);
    cursor: pointer;
}

.songs .listMusic .music.hover{
    background: linear-gradient(90deg, rgba(195,7,63,1) 0%, rgba(26,26,29,1) 75%);
    cursor: pointer;
}

.songs .listMusic .music .like svg{
    width: 50px;
}

.songs .listMusic .music .like{
    position: relative;
}

.songs .listMusic .music .like::after{
    content: '1';
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    /* background-color: #fff;  */
    z-index: 150;
    border-radius: 50%;
    color: #f00;
    font-weight: 700;
    font-size: 20px;
}







